---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';

const vignettes = (await getCollection('vignettes')).sort((a, b) => {
  const byDate = b.data.updated.getTime() - a.data.updated.getTime();
  return byDate !== 0 ? byDate : a.data.title.localeCompare(b.data.title);
});
---
<Base>
  <ul class="index">
    {vignettes.map((v) => (
      <li class="irow">
        <a href={`/${v.id}/`}>
          <span class="ititle">{v.data.title}</span>
          <span class="iteaser">{v.data.teaser}</span>
        </a>
      </li>
    ))}
  </ul>
</Base>
